<a href="https://colab.research.google.com/github/ummadiviany/ML_Workshop_APSSDC/blob/master/Breast_Cancer_Wisconsin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [71]:
df=pd.read_csv('breast-cancer-wisconsin.data',names=["Id","Clump Thickness","Uniformity of Cell Size","Uniformity of Cell Shape","Marginal Adhesion","Single Epithelial Cell Size","Bare Nuclei","Bland Chromatin","Normal Nucleoli","Mitoses","Class"])
df.head()

        Id  Clump Thickness  ...  Mitoses  Class
0  1000025                5  ...        1      2
1  1002945                5  ...        1      2
2  1015425                3  ...        1      2
3  1016277                6  ...        1      2
4  1017023                4  ...        1      2

[5 rows x 11 columns]

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
Id                             699 non-null int64
Clump Thickness                699 non-null int64
Uniformity of Cell Size        699 non-null int64
Uniformity of Cell Shape       699 non-null int64
Marginal Adhesion              699 non-null int64
Single Epithelial Cell Size    699 non-null int64
Bare Nuclei                    683 non-null float64
Bland Chromatin                699 non-null int64
Normal Nucleoli                699 non-null int64
Mitoses                        699 non-null int64
Class                          699 non-null int64
dtypes: float64(1), int64(10)
memory usage: 60.2 KB

## RandomForestClassifier

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [74]:
df.dropna(axis=0, inplace=True)
df

          Id  Clump Thickness  ...  Mitoses  Class
0    1000025                5  ...        1      2
1    1002945                5  ...        1      2
2    1015425                3  ...        1      2
3    1016277                6  ...        1      2
4    1017023                4  ...        1      2
..       ...              ...  ...      ...    ...
694   776715                3  ...        1      2
695   841769                2  ...        1      2
696   888820                5  ...        2      4
697   897471                4  ...        1      4
698   897471                4  ...        1      4

[683 rows x 11 columns]

In [0]:
y=df["Class"]
df.drop(['Class','Id'], axis=1, inplace=True)
x=df

In [76]:
print("Features:",x)
print("Targets:",y)

Features:      Clump Thickness  Uniformity of Cell Size  ...  Normal Nucleoli  Mitoses
0                  5                        1  ...                1        1
1                  5                        4  ...                2        1
2                  3                        1  ...                1        1
3                  6                        8  ...                7        1
4                  4                        1  ...                1        1
..               ...                      ...  ...              ...      ...
694                3                        1  ...                1        1
695                2                        1  ...                1        1
696                5                       10  ...               10        2
697                4                        8  ...                6        1
698                4                        8  ...                4        1

[683 rows x 9 columns]
Targets: 0      2
1      2
2      2
3      2
4      2
      ..
694    2
695    2
696    4
697    4
698    4
Name: Class, Length: 683, dtype: int64

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [78]:
print("No of Rows in Training:",x_train.shape[0])
print("No of Rows in Testing:",x_test.shape[0])

No of Rows in Training: 512
No of Rows in Testing: 171

In [111]:
rfc=RandomForestClassifier(criterion='entropy', max_depth= 8, n_estimators=30,n_jobs=-1)
rfc.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=8, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=-1,
                       oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [0]:
y_pred=rfc.predict(x_test)

In [113]:
from sklearn.metrics import accuracy_score
print("Accuracy :")
print(accuracy_score(y_test,y_pred))

Accuracy :
0.9766081871345029

In [114]:
from sklearn.metrics import confusion_matrix
print("Confusion Matrix :")
print(confusion_matrix(y_test,y_pred))
#,labels=["benign", "malignant"]

Confusion Matrix :
[[114   2]
 [  2  53]]

In [115]:
print("Classification report :")
print(classification_report(y_test,y_pred))

Classification report :
              precision    recall  f1-score   support

           2       0.98      0.98      0.98       116
           4       0.96      0.96      0.96        55

    accuracy                           0.98       171
   macro avg       0.97      0.97      0.97       171
weighted avg       0.98      0.98      0.98       171

In [0]:
from sklearn.model_selection import GridSearchCV

In [0]:
n_estimators=range(10,101,10)
criterion=["gini","entropy"]
max_depth=[2,4,8,16]
param_grid = {'n_estimators':n_estimators, 'criterion':criterion,'max_depth':max_depth}

In [105]:
rfc=RandomForestClassifier(n_jobs=-1)
clf=GridSearchCV(estimator=rfc, param_grid=param_grid,cv=10)
clf.fit(x_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=-1,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 4, 8, 16],
                         'n_estimators': range(10, 101, 10)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [110]:
print("Best estimator:",clf.best_estimator_)
print("Best Parameters",clf.best_params_)

Best estimator: RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=8, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=-1,
                       oob_score=False, random_state=None, verbose=0,
                       warm_start=False)
Best Parameters {'criterion': 'entropy', 'max_depth': 8, 'n_estimators': 30}

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=8, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=-1,
                       oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [0]:
y_pred=rfc.predict(x_test)
print("n_estimators:",val)
print("Accuracy :")
print(accuracy_score(y_test,y_pred))
print("Confusion Matrix :")
print(confusion_matrix(y_test,y_pred))
print("Classification report :")
print(classification_report(y_test,y_pred))

In [0]:
#modelname.feature_importance_
y = estimator.feature_importances_
#plot
fig, ax = plt.subplots() 
width = 0.4 # the width of the bars 
ind = np.arange(len(y)) # the x locations for the groups
ax.barh(ind, y, width, color=”green”)
ax.set_yticks(ind+width/10)
ax.set_yticklabels(col, minor=False)plt.title(‘Feature importance in RandomForest Classifier’)
plt.xlabel(‘Relative importance’)
plt.ylabel(‘feature’) 
plt.figure(figsize=(5,5))
fig.set_size_inches(6.5, 4.5, forward=True)