<a href="https://colab.research.google.com/github/ummadiviany/ML_Workshop_APSSDC/blob/master/ML_Workshop_APSSDC_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuples**

### 1)Convert List to Tuples

In [1]:
values=list(map(int, input("Enter multiple values:").split(',')))
print("Output as a List  : ",values)
print("Output as a Tuples:",tuple(values)) # tuple() function directly converts the list to tuple

Enter multiple values:1,2,3,4
Output as a List  :  [1, 2, 3, 4]
Output as a Tuples: (1, 2, 3, 4)

### 2)Use List comprehension to create a List.

*   Input : Sequence of numbers seperated by comma
*   Output: Squares of odd numbers

In [2]:
values=list(map(int, input("Enter multiple values:").split(',')))
oddsq=[x*x for x in values if (x%2 !=0) ] #Use list compresion to create a new list
print("Square of Odd numbers:",oddsq)

Enter multiple values:1,2,3,4,5,6,7,8
Square of Odd numbers: [1, 9, 25, 49]

### 3)Write a program to take the Integer as a Input and to make an Operation(take input as 'a') to perform a+aa+aaa+aaaa.

In [7]:
val=input("Enter a Number:")
numlist=[int(val*i) for i in range(1,5)]
print("The created list is:",numlist)
print("The sum of list is:",sum(numlist))

Enter a Number:5
The created list is: [5, 55, 555, 5555]
The sum of list is: 6170

### 4)Create a Odd numbered tuple using tuple comprehensions.


*   Input  : (1,10) =1,2,3,4,5,6,7,8,9,10
*   Output : (1,3,5,7,9)

In [11]:
(val1),(val2) = input("Enter Min Range and Max Range : ").split(',')
val1=int(val1)
val2=int(val2)
tup1=tuple(x for x in range(val1,val2+1) if (x%2 != 0))
print("The odd numbered tuple is: ",tup1)

Enter Min Range and Max Range : 1,10
The odd numbered tuple is:  (1, 3, 5, 7, 9)

### 5) Wite a program to sort the (name,age,score) tuples by ascending order. Where name is string,age and score are integers.The tuples are input by console.The sort priority criteria is name>age>score
*   Input  : Tom,19,80
              John,20,90
              Jony,17,91
              Jony,17,93
              Json,21,85
*   Output :

In [15]:
n=int(input("Enter number of rows:"))
lst= [input("Enter each row:").split(",") for i in range(0, n)]
print("The given data is : ",lst)
lst.sort(key= lambda x:(x[0],x[1],x[2]))
print("The sorted data is: ",lst)

Enter number of rows:3
Enter each row:Tom,19,80
Enter each row:John,20,90
Enter each row:Jony,17,91
The given data is :  [['Tom', '19', '80'], ['John', '20', '90'], ['Jony', '17', '91']]
The sorted data is:  [['John', '20', '90'], ['Jony', '17', '91'], ['Tom', '19', '80']]