<a href="https://colab.research.google.com/github/ummadiviany/ML_Workshop_APSSDC/blob/master/ML_Workshop_APSSDC_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuples**

### 1)Convert List to Tuples

In [1]:
values=list(map(int, input("Enter multiple values:").split(',')))
print("Output as a List  : ",values)
print("Output as a Tuples:",tuple(values)) # tuple() function directly converts the list to tuple

Enter multiple values:1,2,3,4
Output as a List  :  [1, 2, 3, 4]
Output as a Tuples: (1, 2, 3, 4)

### 2)Use List comprehension to create a List.

*   Input : Sequence of numbers seperated by comma
*   Output: Squares of odd numbers

In [2]:
values=list(map(int, input("Enter multiple values:").split(',')))
oddsq=[x*x for x in values if (x%2 !=0) ] #Use list compresion to create a new list
print("Square of Odd numbers:",oddsq)

Enter multiple values:1,2,3,4,5,6,7,8
Square of Odd numbers: [1, 9, 25, 49]

### 3)Write a program to take the Integer as a Input and to make an Operation(take input as 'a') to perform a+aa+aaa+aaaa.

In [7]:
val=input("Enter a Number:")
numlist=[int(val*i) for i in range(1,5)]
print("The created list is:",numlist)
print("The sum of list is:",sum(numlist))

Enter a Number:5
The created list is: [5, 55, 555, 5555]
The sum of list is: 6170