<a href="https://colab.research.google.com/github/ummadiviany/ML_Workshop_APSSDC/blob/master/ML_Workshop_APSSDC_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas | Matplotlib | Classes & Objects

## Pandas

### Creating a Pandas Series with and without index

In [1]:
import pandas as pd       # import pandas with a variable name pd
import numpy as np
data=['monitor','keyboard','cpu','mouse']           #Create a list of components of computer as list
#data1=[1,2,3,4,5,6]
pdseries=pd.Series(data)
print("The created pandas series is : \n",pdseries)

The created pandas series is :
 0     monitor
1    keyboard
2         cpu
3       mouse
dtype: object

In [11]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [2]:
index=[1,2,3,4]
pdseries1=pd.Series(data,index)
print("The created pandas series is : \n",pdseries1)

The created pandas series is :
 1     monitor
2    keyboard
3         cpu
4       mouse
dtype: object

### Creating a Pandas Series with Dictionaries

In [3]:
#Dict={1:'monitor',2:'keyboard',3:'cpu',4:'mouse'}
Dict=dict([(1,'cpu'),(2,'monitor'),(3,'mouse')])
print("The created nested dictionary is :",Dict)
pdseries2=pd.Series(Dict)
print("The created pandas series is : \n", pdseries2)

The created nested dictionary is : {1: 'cpu', 2: 'monitor', 3: 'mouse'}
The created pandas series is :
 1        cpu
2    monitor
3      mouse
dtype: object

In [4]:
DictNest=dict([(1,'monitor'),(2,'keyboard'),(3,'mouse'),(4,dict([('os1','ubuntu'),('os2','windows')]))])
print("The created nested dictionary is :",DictNest)
pdseries3=pd.Series(DictNest)
print("The created pandas series is : \n", pdseries3)

The created nested dictionary is : {1: 'monitor', 2: 'keyboard', 3: 'mouse', 4: {'os1': 'ubuntu', 'os2': 'windows'}}
The created pandas series is :
 1                                monitor
2                               keyboard
3                                  mouse
4    {'os1': 'ubuntu', 'os2': 'windows'}
dtype: object

### Create a ndarray with Pandas Series

In [5]:
data=[[1,2,3],[4,5,6]]
pdseriesnd=pd.Series(data)
print("The created ndarray with pandas series: \n",pdseriesnd)

The created ndarray with pandas series:
 0    [1, 2, 3]
1    [4, 5, 6]
dtype: object

### Creating a DataFrame with Pandas

In [20]:
dict1={1:'one',2:'two',3:'three',5:'eight'}
dict2={1:'four',2:'five',3:'six',4:'seven'}
data={'first':dict1,'second':dict2}
df=pd.DataFrame(data)
pdseries=pd.Series(data)
print("The created DataFrame is :\n",df)

print("The dtype of DataFrame is :\n",df.dtypes)

The created DataFrame is :
    first second
1    one   four
2    two   five
3  three    six
5  eight    NaN
4    NaN  seven
The dtype of DataFrame is :
 first     object
second    object
dtype: object
The created pandas series is :
 first     {1: 'one', 2: 'two', 3: 'three', 5: 'eight'}
second    {1: 'four', 2: 'five', 3: 'six', 4: 'seven'}
dtype: object

In [21]:
print("The created pandas series is : \n",pdseries)

The created pandas series is :
 first     {1: 'one', 2: 'two', 3: 'three', 5: 'eight'}
second    {1: 'four', 2: 'five', 3: 'six', 4: 'seven'}
dtype: object

### Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

In [12]:
dates = pd.date_range('20200225', periods=6)
dates

DatetimeIndex(['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
               '2020-02-29', '2020-03-01'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-02-25  0.980579 -1.075212  0.736092  0.661080
2020-02-26  0.189591 -0.641418 -0.625378 -0.446375
2020-02-27  0.551574  0.477396  1.141273 -0.549682
2020-02-28 -1.897653 -0.702423  1.254136  1.467247
2020-02-29 -0.496246 -0.569103 -0.500737  1.394751
2020-03-01  0.009148  0.157796  0.636300 -1.677282

### Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [18]:
df2 = pd.DataFrame({'A': np.randint.rand(4),
                    'B': pd.Timestamp('20200225'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

AttributeError: ignored