<a href="https://colab.research.google.com/github/ummadiviany/ML_Workshop_APSSDC/blob/master/ML_Workshop_APSSDC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)Program for all such numbers which are divisible by 7 but are not multiples of 5? Consider a range of numbers from 1 to 50.

In [0]:
result=[]
for i in range(1,50):
  if (i%7 ==0 and i%5!=0):
    result.append(i)
print("Numbers divisible by 7 and are not Multiples of 5 are:")
print(result)

Numbers divisible by 7 and are not Multiples of 5 are:
[7, 14, 21, 28, 42, 49]

2)Write a program to find factorial of a number in a recursive methodology.

In [0]:
val=int(input("Enter a Number:"))
#val=5
def factorial(x):
  if x==1:
    return x
  else:
    return x*factorial(x-1)

if val==0:
  print("Factorial of 0 is 1")
elif val<0:
  print("Factorial doest not exist for -ve numbers")  
else:
  print("Factorial of" ,val ,"is " ,factorial(val))

Enter a Number:5
Factorial of 5 is  120

3)Write a program to create a dict with the values of squares from 1 to given number n.

In [0]:
val=int(input("Enter a number:"))
mydict={i:i*i for i in range(val)}
print("Created dictionary is",mydict)

Enter a number:5
Created dictionary is {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

4)Write a program to implement the program ,take multiple inputs and outputs.
 **Q=sqrt((2*C*D)/H)**
C=50,H=30
 *D is comma seperated values 100,150,180
Output 18,22,24*

In [26]:
import math
C=50
H=30
D= list(map(int, input("Enter multiple values:").split(','))) 
Q=[]
for i in D:
  Q.append(int(math.sqrt((2*C*i)/H)))
print("The solutions of Q are",Q)

Enter multiple values:100,150,180
The solutions of Q are [18, 22, 24]

5)Write a program to find the Area of Circle with different radius.
*   Use the formula  **pi* r * r**
*   Radius r=5,10,15

6)Write a program

*   Takes two digits as inputs **Ex:3,5**
*   The element in the ith row and jth column should be **i*j**
*   i=0,1,...X-1    and j=0,1,....Y-1
*   *Output :[[0,0,0,0,0],[0,1,2,3,4],[0,2,4,6,8]]*

In [44]:
X,Y = input("Enter No of Rows and Columns : ").split(',')
X=int(X)
Y=int(Y)
result= [[0 for i in range(Y)] for j in range(X)] 
print("The matrix with all zeros",result)
for i in range(X):
  for j in range(Y):
    result[i][j]=i*j
print("Output :                 ",result)

Enter No of Rows and Columns : 3,5
The matrix with all zeros [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
Output :                  [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

7)Write a program to